@font-face {
    font-family: 'RomanSD'; 
    src: url('../public/Roman\ SD.ttf') format('truetype');
}

body, header {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #4254F4;
}

html {
    background-color: #0A1420;
    font-family: 'RomanSD', sans-serif;
}

.container {
    text-align: center;
}

.title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-family: 'RomanSD', sans-serif;
}

.title:hover {
    cursor: default;
}

.card {
    font-family: 'RomanSD';
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom, #4254F4, #4254F4);
}

.card p {
    margin: 0;
    color: white;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border-radius: 15px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

.button:hover {
    background-color: #555;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        margin: 10px auto;
    }

    .title {
        font-size: 3vw;
    }

    .text-box {
        width: 5%;
        max-width: 300px;
    }

    .play-btn {
        width: 10%;
    }

    .waiting-screen {
        position: absolute;
    }
}

.waiting-screen {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.inputFields {
    display: flex;
    flex-direction: column;
}

.inputFields label {
    font-size: 18px;
    display: block;
    padding-bottom: 10px;
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'RomanSD', sans-serif;
}

.text-box {
    width: 20vw;
    height: 30px; 
    padding: 4px; 
    background-color: #1F2937; 
    border: none;
    border-radius: 10px; 
    color: #fff; 
    font-size: 16px; 
    padding-left: 10px;
    font-weight: bold;
    font-family: 'RomanSD';
}

.text-box:focus {
    outline: none;
}

.play-btn {
    margin-top: 20px;
    width: 18vw;
    text-align: center;
    height: 4vh;
    border-radius: 10px;
    font-size: 20px;
    background-color: #1F2937;
    border: none;
    color: white;
    font-family: 'RomanSD', sans-serif; 
    font-weight: bold;
}

.play-btn:hover {
    background-color: #232e3e;
    cursor: pointer;
}

.carousel-container {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, 0%);
}

.error-message {
    color: white;
    font-family: 'RomanSD';
}